<div class="container my-3">
  <div class="container d-flex justify-content-between py-3">
      <h2>Mes listes</h2>
      <%= link_to "Nouvelle liste", "#", class: "btn btn-success" %>
    </div>
  </div>





</div>
